.bg {
  background: #f0f7ff;
}

a {
  text-decoration: none;
}

p {
  color: #000000;
}

a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer-brand {
    float: none !important;
  }
}
